html,
body {
    margin: 0;
    padding: 0;
    background-color: #00CCFF;
    height: 200vh;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    width: 7px;
    border: 2px solid black;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:white;
}


legend {
    color: white;
}

nav {

    text-align: center;
    width: 100%;
    font-size: 1.3em;

}

nav>a {

    text-decoration: none;
    color: white;
    padding: 5%;
}

#Departing {
    margin-top: 20px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 3px;
    width: 250px;

}

#Departing:hover {
    transform: scale(1.1);
    transition: 2s;
}

#Arriving {
    margin-top: 20px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 3px;
    width: 250px;

}

#Arriving:hover {
    transform: scale(1.1);
    transition: 2s;
}

input[type=submit] {
    float: right;
    box-shadow: black 4px 4px 4px;
    border-style: hidden;
    border-radius: 10px;
    background-color: rgba(47, 91, 187, 0.411);
    color: white;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;


}

input[type=submit]:hover {
    background-color: #4CAF50;


}
.weather0{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.Dep,
.Arr {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    }

.today{
    display: flex;
    justify-content: flex-end;
    border-radius: 60%;
}

.air{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 110px;
    width:  110px;
    
}
.container{
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    padding-top: 20vh;

}
.container>a{
    height: 70vh;
    width: 10vw;
    font-size: 2em;
    text-decoration: none;
    color: white;
}
h3{
    text-align: center;
    height: 30vh;
    width: 100%;
    font-size: 1.3em;
    text-decoration: none;
    color: white;

}
.AboutUs{
    padding-top: 20vh;
}
p{
margin: auto 20%;
padding-bottom: 20vh;
}

.topbutton{
text-decoration: none;
border:2px solid white;
color: white;
text-align:center;
padding: 7px;
position:fixed;
bottom: 5px;
right: 5px;
cursor:pointer;
}


/* Pop Up //////////////////////////////////////////////////////////////////////*/
.form-popup , #myForm {
    display: none;
text-align: center;
    position: fixed;
    top: 25px;
    right: 0px;
    border: 1px solid black;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background:white;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.7;
}

.cancel {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.7;
}

.btn:hover, .cancel:hover {
    opacity: 1;
}

#adult , #kids{
    width: 35px;
    border-radius: 7px;
    border: none;
}